<h1>Sign-in</h1>
<form action="{% url 'blog:sign_in_success' %}" method="post">
  {% csrf_token %}
  Username: 
  <input type="text" name="username" id="username">

  Password:
  <input type="password" name="password" id="password">

  <input type="submit" value="Sign-Up">
</form>